/* Template section */
body{
    font-family: 'Montserrat', sans-serif !important;
}
#out_side{
    color: #C84D3F !important;
}
.text-red_perso{
    color: #C84D3F !important;
}
.text-orange_perso{
    color: #E26517 !important;
}
.text-dorado_perso{
    color: #D3AE2B !important;
}
.text-dorado2_perso{
    color: #89701F !important;
}
.text-platino_perso{
    color: #39BCD8 !important;
}
.text-platino2_perso{
    color: #24828E !important;
}
.text-diamante_perso{
    color: #7D9DBF !important;
}
.text-diamante2_perso{
    color: #57718D !important;
}
.text-blue_perso{
    color: #2699FB !important;
}
/* .bach_red_personal{
    background-color: #C84D3F !important;
} */

.back_cabecera_personal{
    background-color: #2699FB;
    height: 136px;
}


#cuadrado_asc_personal{
    background: white !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 50%;
}
#spacemenu{
    padding-top: 2em !important;
    padding-bottom: 40px !important;
    padding-left: 2em !important;
    padding-right: 2em !important;
}

/* diseño */
.div-section{
    border-right: 3px solid #c84d3f;
    border-left: 3px solid #c84d3f;
}

.widthoutMargin > p {
    margin: 0px;
    padding: 0px;
}
.thead-gray{
    background-color: #E0E5D5;            
}
.round-head-left{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid black;
    /* margin: 1px; */
    margin: 2px !important;
}
.round-head-right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
}
.table-space {
    border-collapse: separate;
    border-spacing: 1px;
}
.decorate-left-blue{
    border-left-style: solid !important;
    border-left-color: rgba(0, 0, 255, 0.905) !important;
    border-left-width: 6px !important;
}
.decorate-left-green{
    border-left-style: solid !important;
    border-left-color: rgba(85, 255, 0, 0.905) !important;
    border-left-width: 6px !important;
}
.decorate-left-orange{
    border-left-style: solid !important;
    border-left-color: rgba(255, 145, 0, 0.905) !important;
    border-left-width: 6px !important;
}
.decorate-left-yellow{
    border-left-style: solid !important;
    border-left-color: rgba(221, 255, 0, 0.905) !important;
    border-left-width: 6px !important;
}
.decorate-left-red{
    border-left-style: solid !important;
    border-left-color: rgba(255, 60, 0, 0.905) !important;
    border-left-width: 6px !important;
}

/* bordeados de secciones */
.div-section-red{
    border-right: 3px solid #c84d3f;
    border-left: 3px solid #c84d3f;
}
.div-section-blue{
    /* border-right: 1px solid gray;
    border-left: 1px solid gray; */
    border-top: 20px solid #2699FB !important;
    -webkit-box-shadow: 1px 1px 5px 0 #707070;
    box-shadow: 1px 1px 5px 0 #707070;
    -webkit-border-radius: 12px 12px 12px 12px !important;
    border-radius: 12px 12px 12px 12px !important;
    background: white !important;
    /* border-bottom: 3px solid gray; */
}
.div-section-basic{
    /* border-right: 1px solid gray;
    border-left: 1px solid gray; */
    /* border-top: 20px solid #2699FB !important; */
    -webkit-box-shadow: 1px 1px 5px 0 #707070;
    box-shadow: 1px 1px 5px 0 #707070;
    /* -webkit-border-radius: 12px 12px 12px 12px !important;
    border-radius: 12px 12px 12px 12px !important; */
    background: white !important;
    /* border-bottom: 3px solid gray; */
}
.div-section-green{
    border-right: 3px solid #04E762;
    border-left: 3px solid #04E762;
}
.div-section-yellow{
    border-right: 3px solid #E4C232;
    border-left: 3px solid #E4C232;
}

.sin-marg-parrafo-personal{
    margin: auto
}

.bg-btn-gis-personal{
    background: #F6F6F4;
    font-size: 70%;
}

.sidebar-header{
    background-color: white;
    height: 136px;
}

.colorlib-active {
    background-color: white !important;
}
.colorlib-active > a {
    color: #707070 !important;
}
.space-blue{
    
    border: 1px solid #2699FB;
}
.round_pers_btn{
    -webkit-border-radius: 9px 9px 9px 9px !important;
    border-radius: 9px 9px 9px 9px !important;
}
.round_pers_btn2{
    -webkit-border-radius: 13px 13px 13px 13px !important;
    border-radius: 13px 13px 13px 13px !important;
}
.space-blue-midle{
    border-top: 6px solid rgb(173 207 236) !important;
}
.space-gray-midle{
    border-top: 2px solid rgb(194 194 194) !important;
}

.round_pers_basico{
    -webkit-box-shadow: 1px 1px 5px 0 #707070 !important;
    box-shadow: 1px 1px 5px 0 #707070 !important;
    -webkit-border-radius: 9px 9px 9px 9px !important;
    border-radius: 9px 9px 9px 9px !important;
}

.relleno_azul_personal_superio{
    -webkit-border-radius: 9px 9px 0px 0px !important;
    border-radius: 9px 9px 0px 0px !important;
    background: #2699FB !important;
}
.relleno_azul_personal_inferior{
    -webkit-border-radius: 0 0 9px 9px;
    border-radius: 0 0 9px 9px;
    background: #2699FB !important;
}

.input-tree-personal{
    -webkit-border-radius: 15px 15px 15px 15px !important;
    border-radius: 15px 15px 15px 15px !important;
}
.input-tree-personal{
    -webkit-border-radius: 15px 15px 15px 15px !important;
    border-radius: 15px 15px 15px 15px !important;
}

.input-tree-personal-top-left{
    -webkit-border-radius: 15px 0 0 !important;
    border-radius: 15px 0 0 !important;
}
.input-tree-personal-top-right{
   -webkit-border-radius: 0 15px 0 0 !important;
    border-radius: 0 15px 0 0 !important;
}
.input-tree-personal-bottom-right-left{
    -webkit-border-radius: 0 0 15px 15px !important;
    border-radius: 0 0 15px 15px !important;
}
.input-small-tree-persona{
    font-size: 80% !important;
}






